.circle{
max-height: 200px;
/*padding: 10px;*/
/*margin: 5%;*/
}
.title{
text-align: center;
}
.profilePic{
  max-width: 400px;
}
.clip-circle-a {
  background:url(../img/donut.jpg) no-repeat;
  background-size:720px 480px;
  background-position:-110px -50px;
  height:200px;
  width:200px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}
.clip-circle-b {
  background:url(../img/sig.jpg) no-repeat;
  background-size:720px 480px;
  background-position:-260px -160px;
  height:200px;
  width:200px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}
.clip-circle-c {
  background:url(../img/ensemble.jpg) no-repeat;
  background-size:720px 480px;
  background-position:-220px -100px;
  height:200px;
  width:200px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}
.clip-circle-a:hover, .clip-circle-b:hover, .clip-circle-c:hover{
  -webkit-filter: brightness(.5);
}
.sect{
  margin-bottom: 10%;
  margin-top: 5%;
}

/*about page*/
.clip-circle2 {
  background:url(../img/profilepic.jpg) no-repeat;
  background-size:720px 480px;
  background-position: -150px -70px;
  height:300px;;
  width:300px;
  border-radius:50%;
  overflow:hidden;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 20px;

}
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .clip-circle2 {
      background:url(../img/profilepic.jpg) no-repeat;
      background-size:720px 480px;
      background-position: -150px -70px;
      height:300px;;
      width:300px;
      border-radius:50%;
      overflow:hidden;
      margin-left: 10px;

    }
}

.resumeBtn{
  text-align: center;
}

/*mosaic*/
.paper-section{
  margin: 5px;
  padding: 10px;
  margin-top: 15px;
}
.headers{
  padding: 5px;
  margin-left: 2%;
}
#pilot{
  margin-top: 50px;
  padding: 50px;

}
.clearfix{
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
	.details{
    margin:15px 20px;
  }
  .caption{
    display: block;
    padding: 5px;
  }
  .head-caption{
    display:block;
    font-size: 12px;
  }
  .impact{
    max-height: 300px;
  }
  .small-divider{
    width: 50%;
    margin-left: 25%;

  }
